body{
    font-family: 'Rubik Puddles', cursive;
}
img{
    width: 100px;
    height: 100px;
    border-radius: 25px;
    border-width: 9 px;
    border-style: double;
    border-color: aqua;

}
div{
color: blue;
background-color: antiquewhite;
}

#parrfo-1,#parrafo-2,#parrafo-3,#parrafo-4{
    background-color: blueviolet;

}
Tipos-de-aviones{
color: rgb(37, 155, 62);
}